@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url("/zadaci-za-komuna/CryptoLandingPage_YT-Project/crypto-waves-starter-main/images/bg.svg")
    no-repeat center/cover;
  overflow-x: hidden;
}
.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.bg-bottom {
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  color: #fff;
}
.logo {
  cursor: pointer;
  user-select: none;
}
.logo img {
  width: 110px;
  padding: 10px;
}
.logo-text {
  font-size: 45px;
  font-family: "Signika", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: italic;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}
.menu-item {
  display: flex;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
}
.menu-item p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}
.btn {
  color: #fff;
  background: #8859ec;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn:hover {
  background-color: #fff;
  color: #8859ec;
}
.main {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 1rem 3rem;
}
.left {
  flex: 0.7;
}
.left .small {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #bdbdbd;
}
.left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #f5f5f5;
}
.left .purple {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 50px;
  background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: auto;
  margin-right: 200px;
  margin-left: 50px;
  transform: scaleX(1.5);
}

.left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #dfdfdf;
}
.left p .bold {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  color: #8859ec;
  font-size: 18px;
}

.btc-img {
  max-width: 90vw;
}

@media only screen and (max-width: 940px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .left {
    flex: 1;
    margin-bottom: 3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    margin-top: 2rem;
  }
  .left .purple {
    justify-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .left h1 {
    font-size: 35px;
    justify-items: center;
  }
}

@media only screen and (min-width: 940px) {
  .left .purple::after {
    content: "\a";
    white-space: pre;
  }

  .left p .margin::after {
    content: "\a";
    white-space: pre;
  }
}
